/* Main Styles */
.mb-0.elementor-element {
  margin-bottom: 0;
}

/* Publicación */
.publicacion-container {
  display: flex;
}
.publicacion-container svg {
  margin-right: 1rem;
  width: 1.2rem;
}
.publicacion-container > div {
  flex: 1;
}
.publicacion-container .content {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
}
.publicacion-container .content p {
  font-family: 'Minion';
}
.publicacion-container a {
  font-family: 'Brandon', Sans-serif;
  color: #683fdc;
  font-size: 1rem;
}
.publicacion-container .content a {
  font-family: 'Brandon', Sans-serif;
  color: #683fdc;
  border: 1px solid #683fdc;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.publicacion-container .content a:hover {
  background: #683fdc;
  color: white;
}
.publicacion-container .tags-categories a {
  text-decoration: underline;
  margin-right: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  .publicacion-container .content {
    grid-template-columns: 1fr;
  }
  .publicacion-container .content a {
    margin-top: 0.5rem;
  }
  .publicacion-container .tags-categories a {
    margin-top: 0.5rem;
  }
}

/* Noticias */
.noticias-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
.noticia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noticia-container .image-link-container img {
  height: 100%;
  object-fit: cover;
}
.noticia-container .text-content {
  padding: 1rem;
  border: 1px solid #6ec1e4;
  border-top: none;
  flex: 1;
}
.noticia-container .post-title a {
  font-family: 'Brandon', Sans-serif;
  color: #6ec1e4;
  font-size: 1.2rem;
}
.noticia-container .excerpt {
  font-family: 'Minion', Sans-serif;
  font-size: 0.9rem;
}
.noticia-container .tags-container a {
  color: #6ec1e4;
  font-size: 0.9rem;
  text-decoration: underline;
  font-family: 'Brandon', Sans-serif;
}
@media (max-width: 576px) {
  .noticias-container {
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }
}

/* Eventos */
.evento-container .header {
  display: flex;
  font-family: 'Brandon', Sans-serif;
  align-items: center;
}
.evento-container .header .date {
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
}
.evento-container .header a {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.evento-container .header a svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}
.evento-container .header .event-title {
  flex: 1;
  font-weight: 600;
  font-size: 1.5rem;
}
.evento-container .content {
  font-family: 'Minion', Sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.evento-container .tags-categories {
  font-family: 'Brandon', Sans-serif;
  margin-top: 0.5rem;
}
.evento-container .tags-categories a {
  text-decoration: underline;
  font-size: 1rem;
}
@media (max-width: 576px) {
  .evento-container .header {
    flex-wrap: wrap;
  }
  .evento-container .header .date {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
